.company-container {
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background: url('../../assets/all-bg.png')no-repeat center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 80px;
}

.company-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #0d47a1;
}

.company-slider {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.company-track {
  display: flex;
  gap: 150px;
  animation: scroll 25s linear infinite; /* ค่อยๆเลื่อน */
}

.company-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-icon {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.company-name {
  margin-top: 10px;
  font-weight: bold;
  color: #0d47a1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
