.mgallery {
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.mg-container {
  padding-left: 5%;
  padding-right: 5%;
  background:url('../../assets/all-bg.png');
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery img {
  object-fit: cover;           
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-height: 300px;
  max-width: 300px;
}


.gallery img:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .gallery img {
    flex: 1 1 calc(33.333% - 20px); /* 3 รูปต่อแถว */
  }
}

@media (max-width: 768px) {
  .gallery img {
    flex: 1 1 calc(50% - 20px);     /* 2 รูปต่อแถว */
  }
}

@media (max-width: 480px) {
  .gallery img {
    flex: 1 1 100%;                 /* 1 รูปต่อแถว */
  }
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
