nav {
    width: 100%;
    color: #ffffff;
    padding: 4px 0;
    position: fixed;
    background: #0b1d3a8d;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 90px;
    height: auto;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.2);
}

.dark-nav {
    background: #212EA0;
    transition: 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.menu-icon {
    display: none;
    width: 30px;
    cursor: pointer;
    position: relative;
}

@media (max-width: 1000px) {
    .logo {
        width: 140px;
    }
    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .hide-mobile-menu {
        right: -200px;
    }
}
