.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* แถวละ 4 */
  gap: 10px; /* ระยะห่าง */
  padding: 10px;
  margin-top: 30px;
}

.g-container {
  background: url('../../assets/all-bg.png')no-repeat center center;
  background-size: cover;
  padding: 60px 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.gallery img {
  width: 100%;
  height: 200px; /* ให้สูงเท่ากัน */
  object-fit: cover; /* ครอบรูปไม่บิดเบี้ยว */
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
